<a href="https://colab.research.google.com/github/jhanv/Programming_Basics/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON PROGRAMMING

Python is developed by Guido van Rossum in the early 90s
Some of the Positive Features of Python
* Fast Development
* Portable
* Various built-in data types
* Large collection of support libraries

Python is famously known as an interpreter language, whereas Java, C, etc. are compiler languages.
* An interpreted language reads your code line by line and executes them as they are read
* A compiled language converts *all* of your code into another form first. Note, the other form does not have to be machine code! This could be bytecode too.

Python can be both interpreted and compiled. Python actually converts your code into bytecode first (for example, .pyc), then interprets your code. 

Python programming can be run by any of the following 
* Python Scripts (i.e. in text editors like sublime)
* Integrated Development Environment (like pycharm, visual code etc. )
* Python Notebooks (like jupyter notebbok, colb etc. )

## DATA TYPES IN PYTHON

Text Data Type : Strings

Numeric Data Types : int, float, complex 

Sequence Data Types : list, tuple, range 

Mapping Data types : dictionary 

Set Data Types : set, frozenset

Boolean Data Types: bool 

Binary Data Types : bytes, bytearrray

>>> type(your_variable) gives the data type of the varaible

### STATIC VS DYNAMIC TYPING

Java/ C: static typing
▪ Variables can only refer to objects of a declared type
▪ Methods use type signatures to enforce contracts

Python: dynamic typing
▪ Variables come into existence when first assigned.
>>> x = "foo”
>>> x = 2

▪ Functions have no type signatures
▪ Drawback: type errors are only caught at runtime

###Text Data *type*

Anything among A-Z and special characters and numbers

STRINGS

In [ ]:
string = "hello"
another_string = 'hello'
multiple_line_string = """ This is an mutilple line code
                          That we are working on """
print(type(string))

<class 'str'>

In [ ]:
input = "Str"
if not type("str") == str:
  print(0)
elif input.lower() not in ["Str", "dgsh"]:
  print(1)
else :
  print(0)

1

### Numeric Data Types

Basically Number

INTEGERS

Whole numbers

In [ ]:
integer = 1
print("{} is of type {}".format(integer, type(integer)))

1 is of type <class 'int'>

FLOAT

Decimal Numbers

In [ ]:
number = 5.5
 
print("{} is of type {}".format(number, type(number)))

5.5 is of type <class 'float'>

COMPLEX

real and imaginary numbers i.e. complex numbers

In [ ]:
cmplx = 1 + 5j 
print("{} is of type {}".format(cmplx, type(cmplx)))

(1+5j) is of type <class 'complex'>

### Sequence Data Types


Sequence of elements

Lists

Lists can be multi Dimensional

To access an element in the list
>>> list_name[position_of the element] 

To know the length of the list use
>>> len(list_name)

In [ ]:
lst = []
# Single 1D list
lst = [1,2,3,5]

# lists of list or 2d list
lst_ = [[1,2],[3,4]]


print("{} is of length {}, is of type {}".format(lst_, len(lst_), type(lst)))

[[1, 2], [3, 4]] of length 2, is of type <class 'list'>

Tuple

Tuple also can be multi dimensional

To access an element in the tuple
>>> tuple_name[position_of the element] 

To know the length of the list use
>>> len(tuple_name)

In [ ]:
tup = (1,24,5)

print("{} is of length {}, is of type {}".format(tup, len(tup), type(tup)))

(1, 24, 5) of length 3, is of type <class 'tuple'>

Range

Range gives the range of numbers within the specified limit
>>> range(start, end, step)

but by default it is just range(end)

In [ ]:
range_ = range(5)
print("Range",list(range_))

Range [0, 1, 2, 3, 4]

### Mapping Data types

Dictionaries

Dictionaires are basically Key-value pairs

You can acces a value in the dictionary by calling it through key 

>>> Dicionary_name[key]

In [ ]:
dic = {'a': 1, 'b' : 2, 'c' : 3}

print("{} of length {}, is of type {}".format(dic, len(dic), type(dic)))

print("You can access a element using dictionary name and the key in square brackets",dic['a'])

{'a': 1, 'b': 2, 'c': 3} of length 3, is of type <class 'dict'>
You can access a element using dictionary name and the key in square brackets 1

### Set Data Types

Set data Types unique values

In [ ]:
set_ = set([1,2,5,5])

print("{} is of length {}, is of type {}".format(set_, len(set_), type(set_)))

{1, 2, 5} is of length 3, is of type <class 'set'>

### Boolean Data types

True or False

In [ ]:
t = True
f = False

print(type(t))
print(type(f))

<class 'bool'>
<class 'bool'>

## PYTHON OPERATORS

Arithmetic operators - Addition, Subraction, Multiplication, Division, Modulus, Floor Division, Exponent

Comparison operators - Greater than, Less than, Equal to, Not equal to, Greater than or equal to, Less than or equal to

Logical operators - and, or, not

Bitwise operators - &, |, -, ~, ^, >>, <<

Assignment operators - =, +=, -=, *=, /=, %=, //=, **=, (&=, |=, ^=, >>=, <<=)

Special operators - is, is not

Membership operators - in, not in

### ARITHEMATIC OPERATORS

Performs mathematical operations like addition, subtraction, multiplication, etc.

In [ ]:
x, y = 1,3
print("x is {} y is {}".format(x,y))

x is 1 y is 3

Addition ' + '

Adds values on either side of the operator.

In [ ]:
print("Addition of {} {} is equals {} ".format(x,y,x+y))

Addition of 2 3 is equals 5

Subraction ' - '

Subtracts right hand operand from left hand operand.

In [ ]:
print("Sub of {} {} is equals {} ".format(x,y,x-y))

Sub of 2 3 is equals -1

Multiplication ' * '

Multiplies values on either side of the operator

In [ ]:
print("Multiplication of {} {} is equals {} ".format(x,y,x*y))

Multiplication of 2 3 is equals 6

Division '/'

Divides left hand operand by right hand operand

In [ ]:
print("Division of {} {} is equals  {} ".format(y,x ,y/x))

Division of 3 2 is equals  1.5

Modulus '%'

Divides left hand operand by right hand operand and returns remainder

In [ ]:
print("Modulus of {} {} is equals  {} ".format(y,x ,y%x))

Modulus of 3 2 is equals  1

Floor Division '//'

The division of operands where the result is the quotient in which the digits after the decimal point are removed.

In [ ]:
x = 15
y = 4
print("Floor of {} {} is equals  {} ".format(x,y , x//y))

Floor of 15 4 is equals  3

Exponent '**'

Performs exponential (power) calculation on operators

In [ ]:
x = 3
y = 4
print("Exponent of {} {} is equals  {} ".format(x,y , x**y))

Exponent of 3 4 is equals  81

### COMPARISION OPERATORS

Compares values. Return either True or False

>, <, =, >=, <=, ==

Graeter than ' > '

True if left operand is greater than the right

In [ ]:
x = 10
y = 12
print("{} is greater than {}. This statement is {} ".format(x,y,x>y))

10 is greater than 12. This statement is False

Less Than  ' < '

True if left operand is less than the right

In [ ]:
x = 10
y = 12
print("{} is less than {}. This statement is {} ".format(x,y,x<y))

10 is less than 12. This statement is True

Equals to '=='

Equal to - True if both operands are equal

In [ ]:
print("{} is equals than {}. This statement is {} ".format(x,y,x==y))

10 is equals than 12. This statement is False

Not Equal to '!='
	
  Not equal to - True if operands are not equal

In [ ]:
print("{} is not equals than {}. This statement is {} ".format(x,y,x!=y))

10 is not equals than 12. This statement is False

Greater than or equal to ' >= '

True if left operand is greater than or equal to the right

In [ ]:
x = 5
y = 4
print("{} is greater than equal to {}. This statement is {} ".format(x,y,x>=y))

5 is not equals than 4. This statement is True

Less than or equal to   ' <=	'

In [ ]:
print("{} is less than equal to {}. This statement is {} ".format(x,y,x<=y))

5 is less than equal to 4. This statement is False

### LOGICAL OPERATORS

and, or, not operators

NOT

In [ ]:
a = True
b = 1 == 3
c = 4>2
print(a,b,c)

print("not of {} is {}".format(b,not b))

True False True
not oof False is True

AND

In [ ]:
a = True
b = 1 == 3
print("{} and {} is \n{}".format(a,b, a and b))

True and False is
False

OR

In [ ]:
print("{} or {} is \n{}".format(a,b, a or b))

True or False is
True

### BITWISE OPERATORS

4 bits  

$2^3, 2^2,2^1,2^0$

8, 4,   2,  1

Bitwise AND ' & '

In [ ]:
x = 10 # 0000 1010
y = 4  # 0000 0100

print("{} & {} is {}".format(x,y,x & y)) # 0000 0000

10 & 4 is 0

Bitwise OR ' | '

In [ ]:
x = 10 # 0000 1010
y = 4  # 0000 0100

print("{} | {} is {}".format(x,y,x | y))

10 | 4 is 14

Bitwise NOT ' ~ '

In [ ]:
print("not", ~2) # 0000 0101

not -3

Bitwise XOR ' ^ '

In [ ]:
print("{} ^ {} is {}".format(x, y, x ^ y))  # 0000 1110

5 ^ 4 is 1

Bitwise right shift ' >>'

In [ ]:
print("{} >> {} is {}".format(x,y,x >> y)) # 000 0010

### ASSIGNMENT OPERATORS

Assigning the Values

In [ ]:
x = 5
x += 2	# x = x + 5
x -= 2	# x = x - 5
x *= 2	# x = x * 5
x /= 2	# x = x / 5
x %= 2	# x = x % 5
x //= 2	# x = x // 5
x **= 2	# x = x ** 5
x &= 2	# x = x & 5
x |= 2	# x = x | 5

### SPECIAL OPERATORS

`is ` and 
`is not` are identity operators
These operators return boolean values

IS

In [ ]:
x = True
print(x is True)

True

IS NOT

In [ ]:
x = "Hello"
y = "Hello"
print(x is not y)

False

### MEMBERSHIP OPERATORS

`in` and `not in` are membership operators
They return True or False values

In [ ]:
x = "hello world"
print("hello" in x)

lst = [1,2,3,4,5]
print(4 in  lst)

y = {'a' : 1, "b": 2}
print('a' in y)

True
True
True

## OPERATIONS ON SEQUENCE DATA TYPES

Immutable: a sequence type that cannot be modified once created

Mutable: a sequence type that cannot be modified once created

### OPERATIONS ON STRING

Strings are Immutable. This means that elements of a string cannot be changed once they have been assigned. We can simply reassign different strings to the same name.

In [ ]:
string = "Python Programming"
print('The string = ', string )

The string =  Python Programming

In [ ]:
new_dict = {"A" : "Apple", "B" : "Ball", "C" : "Cat"}

print("The keys of the dictionary are ", new_dict.items()," and their associated values are", new_dict.values())

The keys of the dictionary are  dict_items([('A', 'Apple'), ('B', 'Ball'), ('C', 'Cat')])  and their associated values are dict_values(['Apple', 'Ball', 'Cat'])

Formatting the string

In [ ]:
# Python string format() method

# default(implicit) order
default_order = "{}, {} and {}".format('One','Two','Three')
print('Default Order -', default_order)

# order using positional argument
positional_order = "{1}, {0} and {2}".format('Hello','World','Friend')
print('Positional Order -', positional_order )

# order using keyword argument
keyword_order = "{f}, {h} and {w}".format(h = 'Hello',w = 'World',f ='Friend')
print('Keyword Order -', keyword_order)

Default Order - One, Two and Three
Positional Order - World, Hello and Friend
Keyword Order - Friend, Hello and World

In [ ]:
# two string literals together
print('Hello ''World!')

# using parentheses
s = ('Hello ' 'World')
print(s)

Hello World!
Hello World

**Slicing**

In [ ]:
# Slicing 
print("index 0 of string '{}' is : {}".format(string, string[0]))
print("first 6 letters of string '{}' are : {} ".format(string,string[0:6]))
print("string last digit of string '{}' is : {} ".format(string, string[-1]))
print("string second last digit of string '{}' is : {} ".format(string, string[-2]))

index 0 of string 'Python Programming' is : P
first 6 letters of string 'Python Programming' are : Python
string last digit of string 'Python Programming' is : g
string second last digit of string 'Python Programming' is : n

**Reverse The String**

In [ ]:
#Reversing the string
print('string = ', string[::-1])

string =  gnimmargorP nohtyP

**Deleting the elememt in the string**

In [ ]:
#Deleting the elememt in the string
new_string = "PPython"
print("new_string", new_string)
del new_string
# print("new_string", new_string)

new_string PPython

**ESACPE SEQUENCES**

Use '\\' before escape sequence in order to print them in your code

In [ ]:
# Escape sequence
print("Einstein quoted \n \"All is Well\" ")
print("Print newline character \\n in this string using escape")
print("C:\\Python32\\Lib")

Einstein quoted
 "All is Well"
Print newline character \n in this string using escape
C:\Python32\Lib

**Raw String to ignore escape sequence**



```
print(r' your raw string ')
```

In [ ]:
# With raw string
print(r"This is \t \n test example")
# Without raw string
print("This is \t \n test example")

This is \t \n test example
This is
 test example

**String Concatenation**

In [ ]:
new_string = "Concepts"
concatenated_string = string + " " + new_string
print("Concatenating both strings '{}' and '{}' gives : '{}'".format(string, new_string, concatenated_string))

Concatenating both strings 'Python Programming' and 'Concepts' gives : 'Python Programming Concepts'

**String Repetation / Multiplication**

In [ ]:
num = 4
repeat_string = 'Repeat'
print("Repeat '{}' {} times: {} ".format(repeat_string,num, repeat_string * num))

Repeat 'Repeat' 4 times: RepeatRepeatRepeatRepeat

**String Membership Test**

In [ ]:
# Find if a letter is in a string
print("a" in string)
print("a" in new_string)

True
False

In [ ]:
print("length of the string", len(string))
print("enumerate", list(enumerate(string)))

length of the string 18
enumerate [(0, 'P'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n'), (6, ' '), (7, 'P'), (8, 'r'), (9, 'o'), (10, 'g'), (11, 'r'), (12, 'a'), (13, 'm'), (14, 'm'), (15, 'i'), (16, 'n'), (17, 'g')]

**Turn to** **Upper case** / **Lower case**

In [ ]:
print("Turn '{}' into lower case '{}'".format(string,string.lower()))
print("Turn '{}' into upper case '{}'".format(string,string.upper()))

Turn 'Python Programming' into lower case 'python programming'
Turn 'Python Programming' into upper case 'PYTHON PROGRAMMING'

**Find a element/ part of the string**

In [ ]:
index = string.find("thon")
print(" '{}' can be found starting at the index {}".format(string, index))

 'Python Programming' can be found starting at the index 2

**Replace a part of string**

In [ ]:
# Replacing "Happy" with "Awesome"
print("Happy new year".replace("Happy", "Awesome"))

Awesome new year

**Split the string**

Split the words in the string to the list

Default - it is sepearated by white space

To seprate it with ','       ------        string.split(',')



```
the_string.split(character)
```

In [ ]:
print(string.split())
print("This is    how it is".strip())

['Python', 'Programming']
This is    how it is

### OPERATIONS ON LISTS

Lists are Mutable

In [ ]:
list1 = [1,32,345,5,67]
print("Here is the list {}".format(list1))

# Lists of list
list2 = [[1,2],[3,4],[5,6]]
print("Here is the lists of lists {}".format(list2))

# Lists with multiple elements
list3 = ["list",[3,4],5,6.6]
print("Here is the lists with multiple elements {}".format(list3))

Here is the list [1, 32, 345, 5, 67]
Here is the lists of lists [[1, 2], [3, 4], [5, 6]]
Here is the lists with multiple elements ['list', [3, 4], 5, 6.6]

Slicing

In [ ]:
# Slicing 

print("index 0 of list {} is : {}".format(list1, list1[0]))
print("first 4 elements of list {} are : {} ".format(list1,list1[0:4]))
print("Last elements of list {} is : {} ".format(list1, list1[-1]))
print("Second last element of list {} is : {} ".format(list1, list1[-2]))
print(list_[1:-1])

index 0 of list [1, 32, 3, 5, 67, 4, 4] is : 1
first 4 elements of list [1, 32, 3, 5, 67, 4, 4] are : [1, 32, 3, 5]
Last elements of list [1, 32, 3, 5, 67, 4, 4] is : 4
Second last element of list [1, 32, 3, 5, 67, 4, 4] is : 4
[]

**Lists are mutable**,

We can modified a specific element in the lsit

In [ ]:
print(list1[2:-1])
list1[2] = 3
print(list1)

[345, 5]
[1, 32, 3, 5, 67]

**Appending elements to the list**

In [ ]:
# Append a num into the existing list
num = 9
list1.append(num)
print("{} is appended to the list gives {}".format(num, list1))

9 is appended to the list gives [1, 32, 3, 5, 67, 4, 4, 9]

**Pop elements out the list**

In [ ]:
index = 4
list1.pop(index)
print("after popping out the element in the index {} in the list gives {}".format(index, list1))

after popping out the element in the index 4 in the list gives [1, 32, 3, 5, 4, 9]

**Extend the list**

Add another list to the old list

In [ ]:
list4 = [0,1,2,4]
list1.extend(list4)
print("After extending the list1 with {} to list1 gives {}".format(list4, list1))

After extending the list1 with [0, 1, 2, 4] to list1 gives [1, 32, 345, 5, 67, 0, 1, 2, 4, 0, 1, 2, 4, 0, 1, 2, 4, 0, 1, 2, 4]

**Adding or concatinating / extending to the list using +**

In [ ]:
list5 = [9,8,7]
print("Adding {} with {} gives {}".format(list4 , list5,list4 + list5))

Adding [0, 1, 2, 4] with [9, 8, 7] gives [0, 1, 2, 4, 9, 8, 7]

**Repeat the element in the list**

In [ ]:
num = 3
print("Repeating {} {} times gives {}".format(list5 , num, list5 * num))

Repeating [9, 8, 7] 3 times gives [9, 8, 7, 9, 8, 7, 9, 8, 7]

**Insert an element to list**

In [ ]:
odd = [1,5,9]
odd.insert(1,3)
print(odd)

[1, 3, 5, 9]

**Deleting an element in list or the whole list**

In [ ]:
# Deleting the elemnt 
index = 1
del odd[index]
print(odd)

# Deleting the whole list
del odd
#print(odd)

[1, 5, 9]

**Clear elements in the list**

In [ ]:
new_list = [1,2,3,4,5]
new_list.clear()
print("The list is cleared", new_list)

The list is cleared []

**Reversing the list**

In [ ]:
list6 = [1,2,3,3,4]
print("Before reversing the list is", list6)
list6.reverse()
print("The reversed list is", list6)

Before reversing the list is [1, 2, 3, 3, 4]
The reversed list is [4, 3, 3, 2, 1]

**Count** 

count how many times an element is repeated in the list

In [ ]:
num = 3
print("{} is in list {} {} times".format(num, list6 , list6.count(num)))

3 is in list [4, 3, 3, 2, 1] 2 times

**Sort the elements in the list**

In [ ]:
list6.sort()
print(" The sorted list is", list6)
list7 = ['a', 'd', 'b', 'c']
print(" The sorted list is", list7)

 The sorted list is [1, 2, 3, 3, 4]
 The sorted list is ['a', 'd', 'b', 'c']

### OPERATIONS ON TUPLE
Tuples are Immutable

Once tuple is created, its elements cannot be changed or modified

In [ ]:
tuple1 = (1,[1,1,3],3.14, "string")
print("This is a tuple with different elemts", tuple1)

This is a tuple with different elemts (1, [1, 1, 3], 3.14, 'string')

**Slicing**

In [ ]:
print("index 0 of tuple {} is : {}".format(tuple1, tuple1[0]))
print("first 4 elements of tuple {} are : {} ".format(tuple1,tuple1[0:4]))
print("Last elements of tuple {} is : {} ".format(tuple1, tuple1[-1]))
print("Second last element of tuple {} is : {} ".format(tuple1, tuple1[-2]))

index 0 of tuple (1, [1, 1, 3], 3.14, 'string') is : 1
first 4 elements of tuple (1, [1, 1, 3], 3.14, 'string') are : (1, [1, 1, 3], 3.14, 'string')
Last elements of tuple (1, [1, 1, 3], 3.14, 'string') is : string
Second last element of tuple (1, [1, 1, 3], 3.14, 'string') is : 3.14

**Deleting a tuple**

In [ ]:
del tuple1

**Count**

In [ ]:
tuple2 = ('a','p', 'p', 'l', 'e')
print(tuple2.count('p'))

2

### OPERATIONS ON DICTIONARY

Dictionaries are mutable, entries can be added, removed, and changed at any time.

**Creating a Dictionary**

In [ ]:
dict1 = {"string1" : 1, "string2" : 2}

Aceesing a value in the dictionary using key

In [ ]:
# Using .get()
print("Value in the dictionary {} of key {}  is {}".format(dict1, "string1", dict1.get("string1")))  
# Without using .get()
print("Value in the dictionary {} of key {} is {}".format(dict1, "string1", dict1["string1"]))

Value in the dictionary {'string1': 1, 'string2': 2} of key string1  is 1
Value in the dictionary {'string1': 1, 'string2': 2} of key string1 is 1

Adding new key - value pair

In [ ]:
# Adding an element to the existing dictionary
dict1["string3"] = 3
print("Updated dictionary ",dict1)

# Can also update dictionary using .update()
dict1.update({"string4" : 4, "string5" :5})
print("\nNewly Updated dictionary",dict1)
dict2 = {"string7" : 7, "string6" : 6}
dict1.update(dict2)
print("\nNewly Updated dictionary",dict1)

Updated dictionary  {'string1': 1, 'string2': 2, 'string3': 3}

Newly Updated dictionary {'string1': 1, 'string2': 2, 'string3': 3, 'string4': 4, 'string5': 5}

Newly Updated dictionary {'string1': 1, 'string2': 2, 'string3': 3, 'string4': 4, 'string5': 5, 'string7': 7, 'string6': 6}

Popping, Clearing and deleting in dictionary

In [ ]:
dict1.pop("string7")
dict2.clear()
del dict2
# print(dict2)

**Items, keys, values in dictionary**

Get the keys using .keys(), values using .values() and all the elements/items using .items()

In [ ]:
dict1.keys()
dict1.values()
dict1.items()

dict_items([('string1', 1), ('string2', 2), ('string3', 3), ('string4', 4), ('string5', 5), ('string6', 6)])

Other common sequence operations

In [ ]:
print(sorted(list(dict1.keys())))
print(len(dict1))

['string1', 'string2', 'string3', 'string4', 'string5', 'string6']
6

### OPERATIONS ON SET

Creating a set

In [ ]:
set1 = set([1,2,3,4,4,3])
set2 = {3,3,4,4.5,"Hello"}
print("set 1 is {} \nset 2 is {}".format(set1, set2))

set 1 is {1, 2, 3, 4}
set 2 is {'Hello', 3, 4, 4.5}

Adding/ Updating an elemnet to the set

In [ ]:
set1.add(9)
print("number 9 is added to set 1",set1)
set3 = {1,3}
set3.update([5,2,4])
print("set 3 is updated to {}".format(set3))

number 9 is added to set 1 {1, 2, 3, 4, 9}
set 3 is updated to {1, 2, 3, 4, 5}

Discard / Remove elements in the set

In [ ]:
# removing element 1

set3.discard(1)
print("number 1 is discarded form set 3",set3)
set3.remove(2)
print("number 2 is removed form set 3",set3)

number 1 is discarded form set 3 {2, 3, 4, 5}
number 2 is removed form set 3 {3, 4, 5}

Pop / clear

In [ ]:
# The first element pops out
set3.pop()
print(set3)

# Clears all the elements in the set
set3.clear()
print(set3)

{4, 5}
set()

Mathematical SETOperations

Union

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}
# Using |
print("Union of {} and {} is {}".format(A,B,A|B))
# Using union() function
print("Union of {} and {} is {}".format(A,B,A.union(B)))

Union of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8} is {1, 2, 3, 4, 5, 6, 7, 8}
Union of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8} is {1, 2, 3, 4, 5, 6, 7, 8}

Intersection

In [ ]:

# Using &
print("Intersection of {} and {} is {}".format(A,B,A&B))
# Using intersection() function
print("Intersection of {} and {} is {}".format(A,B,A.intersection(B)))

Intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8} is {4, 5}
Intersection of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8} is {4, 5}

Difference

In [ ]:
# Using -
print("Difference of {} and {} is {}".format(A,B,A-B))
# Using differnce() function
print("Difference of {} and {} is {}".format(A,B,A.difference(B)))

Difference of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8} is {1, 2, 3}
Difference of {1, 2, 3, 4, 5} and {4, 5, 6, 7, 8} is {1, 2, 3}

Symetric Difference

In [ ]:
print(A^B)
print(A.symmetric_difference(B))

{1, 2, 3, 6, 7, 8}
{1, 2, 3, 6, 7, 8}

Basic sequence operations

In [ ]:
print(sorted(set([5,3,3,6,2])))
print(sum(A))

[2, 3, 5, 6]
15

### BASIC OPERATIONS ON ANY SEQUENCE TYPE

BASIC OPERATIONS ON ANY SEQUENCE TYPE


>>>all()	

Returns True if all elements of the set are true (or if the set is empty).

>>>any()	

Returns True if any element of the set is true. If the set is empty, returns False.

>>>enumerate()	

Returns an enumerate object. It contains the index and value for all the items of the set as a pair.
>>>len()	

Returns the length (the number of items) in the set.


>>> max()	

Returns the largest item in the set.
>>> min()	

Returns the smallest item in the set.

>>> sorted()	

Returns a new sorted list from elements in the set(does not sort the set itself).

>>> sum()	

Returns the sum of all elements in the set.



***Try them on different Sequence Types***

## FLOW CONTROL - CONDITIONALS

if 

if else

else if -- elif

IF

In [ ]:
x = 100
if x > 10:
  print("{} is greater than 10".format(x))

IF ELSE

In [ ]:
if x > 10:
  print("{} is greater than 10".format(x))
else:
  print("{} is less than 5".format(x))

IF ELIF ....

In [ ]:
x = input("Give a number ")
x = float(x)

print(x)

if x > 10:
  print("{} is greater than 10".format(x))
elif x > 5:
  print("{} is greater than 5".format(x))
elif x > 2:
  print("{} is greater than 2".format(x))
else:
  print("{} is less than 5".format(x))

Give a number 8
8.0
8.0 is greater than 5

## CATCHING ERRORS


`Try` 

`except`

`Finally`

`raise`

The try block lets you test a block of code for errors.

The except block lets you handle the error.

In [ ]:
try :
  x = float(input("Give a number "))
  print(x)

  if x > 10:
    print("{} is greater than 10".format(x))
  elif x > 5:
    print("{} is greater than 5".format(x))
  elif x > 2:
    print("{} is greater than 2".format(x))
  else:
    print("{} is less than 5".format(x))

except  ValueError as e:
  print("Invalid input {} is not a number".format(x))

Give a number hello
Invalid input 3.0 is not a number

## LOOPS

### For Loop

Directly accesing elements through for loop

In [ ]:
item = [1,2,3,4]
for element in item :
  print(element)

1
2
3
4

Looping through indexes for loop

In [ ]:
new_list = []
for i in range(len(item)):
  new_list.append(item[i])
print(new_list)

[1, 2, 3, 4]

In [ ]:
# Get even numbers until 10 and store it in the list
even_nums = []
for i in range(0,10,2):
  even_nums.append(i)
print("Even numbers :", even_nums)

Even numbers : [0, 2, 4, 6, 8]

LIST COMPREHENSION

In [ ]:
# Odd number using List comprehension

odd_nums = [i for i in range(1,10,2)]
print("Odd Numbers:", odd_nums)

Odd Numbers: [1, 3, 5, 7, 9]

### While Loop

In [ ]:
Printing even numbers until 10 
i = 0
while i<=10:
  print(i)
  i += 2

0
2
4
6

Break - Stops/ Breaks the while/for loop

In [ ]:
# Printing even numbers until 5 just by adding 1/2 lines to the above code
i = 0
while i<=10:
  if i >=5:
    break
  print(i)
  i += 2

0
2
4

continue - Skips that one iteration

In [ ]:
# Printing even numbers until 10 but skip 6 just by adding 2/3 lines to the above code
i = 0
while i<=10:
  if i == 6:
    i += 2
    continue
  print(i)
  i += 2

0
2
4
8
10

## FUNCTIONS

Sytnax for defining a function
Parameters are the values that we are giving to the function when defining the function

```
def function_name(parameter) :
  function_body
  return variable/value

```
The return statement is not mandatory, it is users choice. 


Sytnax for calling a function
Arguments are the values that we are giving to the function when calling the function

```
function_name(argument)
```

Defining a function without parameters

In [ ]:
def greetings():
  print("Hello, Hi")

greetings()

Hello, Hi

Defining a function with paramters

In [ ]:
# Function for summing two numbers

# defining the function
def sum(a,b):
  sum = a+b
  print("The sum of a = {} and b = {}  is {}".format(a,b,sum))
  # The return statement is not mandatory 
  return sum

x = 1
y = 4
# Calling the function
sum(x, y)

# storing the returned value of the function in the variable
sum = sum(x,y)
print("The sum of {} and {} is {}".format(x,y,sum))

The sum of a = 1 and b = 4  is 5
The sum of a = 1 and b = 4  is 5
The sum of 1 and 4 is 5

## IMPORTING LIBRARY OR MODULES

A Python library is a reusable chunk of code that you may want to include in your programs/ projects.

syntax


```
import library_name
```

```
from library_name import module_name
```

### Rolling a dice using random libarary

In [ ]:
import random

# A dice has 6 side with one unique number of each side ranging between 1 - 6
# random.randint will give random number ithin range given in the brackets

result = random.randint(1,6)
print("You roll a {}".format(result))

You roll a 1

### Signing up and Loging in using sys library

In [ ]:
import sys

username = input("To signup Enter your user name :")
password = input("Create a password : ")
print("You are successfully signed up")

username_entered = input("To login enter your username : ")
passwrod_entered = input("To login enter your password : ")

if username_entered == username and passwrod_entered == password :
  print("Here is your secret information : You are Smartest kid here")
else:
  print("Intruder Alert")

To signup Enter your user name :balloon
Create a password : balloon
You are successfully signed up
To login enter your username : balloon
To login enter your password : bolloon
Intruder Alert

### Magic Ball Game

In [ ]:
# importing the libraries

import sys
import random 

# defining the function without parameters

def magicball():

  ans = True

  while ans:
      question = input("Ask the magic 8 ball a question: (press enter to quit) ")
      
      answers = random.randint(1,8)
      
      if question == "":
          sys.exit()
      
      elif answers == 1:
          print ("You are absoluetly right")
      
      elif answers == 2:
          print ("Outlook good")
      
      elif answers == 3:
          print ("You may rely on it")
      
      elif answers == 4:
          print ("Ask again later")
      
      elif answers == 5:
          print ("Concentrate and ask again")
      
      elif answers == 6:
          print ("Reply hazy, try again")
      
      elif answers == 7:
          print ("My reply is no")
      
      elif answers == 8:
          print ("My sources say no")
      

# Calling the function
magicball()

Ask the magic 8 ball a question: (press enter to quit) 1
Concentrate and ask again
Ask the magic 8 ball a question: (press enter to quit) Will i be succesfull
Outlook good
Ask the magic 8 ball a question: (press enter to quit)

SystemExit: ignored

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2890: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
for i in range(0+1):
  print(i)

0